@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide the default scrollbar */
::-webkit-scrollbar {
  width: 0; /* Width of the scrollbar track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1); /* Color of the scrollbar handle */
  border-radius: 4px; /* Rounded corners for the handle */
}

/* On hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5); /* Color when hovered */
}
.custom {
    @apply bg-[#32332e] text-white border-b-2 py-4;
  }
  .trendingCard{
    @apply flex bg-[#32332e] text-white mx-2 rounded-md hover:bg-white ring-1 ring-offset-0 ring-white hover:text-black transition-all hover:scale-110 p-3;
  }
  .badge{
    @apply bg-black p-1 h-7 w-7 rounded-full relative top-0 left-0 flex items-center justify-center;
  }
  .ContentsHovered{
    @apply transition duration-500 hover:-translate-y-1 hover:bg-white hover:text-black hover:px-8;
  }
  .ContentsActive{
    @apply transition duration-300 active:scale-105 active:bg-black active:text-white;
  }
  
td{
  vertical-align: middle;
}